# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
isp-site/node_modules
isp-site/.pnp
isp-site/.pnp.js

# testing
isp-site/coverage

# production
isp-site/build

# misc
isp-site/yarn.lock
*.DS_Store
isp-site/.env.local
isp-site/.env.development.local
isp-site/.env.test.local
isp-site/.env.production.local
isp-site/README.md
isp-site/npm-debug.log*
isp-site/yarn-debug.log*
isp-site/yarn-error.log*
