/* TopNavBar */

.active::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: calc(0.75rem - 0.25rem);
  inset-inline-end: calc(0.75rem - 0.25rem);
  height: 0.125rem;
  background: #287A9F;
  display: block;
}

#canvas.active::after {
  background: #E72429;
}

#mastery.active::after {
  background: #24A159;
}

#elevate.active::after {
  background: #0097D3;
}

#impact.active::after {
  background: #F76400;
}

#learnplatform.active::after {
  background: #07c;
}

/* Instructure UI overrides */

li [data-cid="Checkbox"],
li [class$="checkbox"] {
  opacity: inherit;
}

pre {
  font-family: Menlo, Consolas, Monaco, "Andale Mono", monospace !important;
}

#toggleFilters {
  display: none;
}