.active::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: calc(0.75rem - 0.25rem);
  inset-inline-end: calc(0.75rem - 0.25rem);
  height: 0.125rem;
  background: #333;
  display: block;
}

a {
  color: rgb(30, 91, 118);
}
a:hover,
a:active {
  text-decoration: none;
}