body {
  margin: 0;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, menlo, monaco, consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 1009px) {
  #root {
    background-image: url("./assets/banner.webp");
    background-position: 0% 8rem;
    background-size: 120rem auto;
    background-repeat: no-repeat;
  }

  #root > div {
    padding-bottom: 8rem;
  }

  #main {
    background: #fff;
    margin-top: 3rem;
    padding: 3rem;
    box-shadow: 0 1.25rem 3rem .66rem rgb(20 61 80 / 15%);
    border-radius: 2rem;
  }
}

/* TopNavBar */

/**
 * TopNavBar.Item with status="active" bolds Component text which
 * causes the container width to change and Items to "jump" on the screen.
 */
[class$="topNavBarItem__content"] {
  font-weight: normal !important;
}

/* Instructure UI overrides */

li [data-cid="Checkbox"],
li [class$="checkbox"] {
  opacity: inherit;
}

pre {
  font-family: menlo, consolas, monaco, "Andale Mono", monospace !important;
}

#toggleFilters {
  display: none;
}

[data-cid="ToggleDetails"] [class$="gridCol"] {
  margin-bottom: 0.75em;
}

[data-cid="RadioInputGroup"] [class$="formFieldGroup"] [class$="gridRow"] {
  flex-wrap: wrap;
}

[data-cid="RadioInputGroup"] [class$="formFieldGroup"] [class$="gridCol"] {
  margin-bottom: 0.75em;
}

/* markdown styles */

.markdown [class$="toggleDetails__details"] {
  padding-left: 0 !important;
}

.markdown [class$="toggleDetails__content"] {
  border: 1px solid rgb(199, 205, 209);
  border-radius: 1rem 0;
}

.markdown h2 {
  margin-top: 3rem !important;
}

/* Language styles */

#language .lang,
#language .lang:hover,
#language .lang:focus,
#language .lang:active {
  color: inherit;
  display: block;
  text-decoration: inherit;
}

#language [id$="__label"]:not(:has( a)),
#language [id$="__label"] a {
  padding: 0.5rem 1rem;
}

#language [role="listitem"] {
  padding: 0;
}

#language,
[class$="view-drilldown__container"] {
  width: 10rem;
  min-width: 10rem !important;
}

/* MDUI overrides */

#main.mdui {
  box-shadow: none;
  border: 0 none;
}
